{% extends "base.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block content %}
<div id="app">
    <noscript>
      <strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
 </div>
{% endblock %}

{% block css %}
{% render_bundle 'chunk-vendors' 'css' 'INTERACTWEL' %}
{% render_bundle 'app' 'css' 'INTERACTWEL' %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'django_airavata_api/dist/airavata-api.js' %}"></script>
    <script>
        var userIsAuthenticated = {{ request.user.is_authenticated|yesno:"true,false" }};
        var user={{request.user.is_authenticated|yesno:"true,false"}};
        $(document).ready(function () {
            if(!userIsAuthenticated){
                window.location = "http://interactwel.org/:8000/auth/login";
            }
        });
    </script>
    {{ block.super }}
    {% render_bundle 'chunk-vendors' 'js' 'INTERACTWEL' %}
    {% render_bundle 'app' 'js' 'INTERACTWEL' %}
{% endblock %}
