<!--Feedback Component-->
<div class="feedback-wrapper ui container">
    <div class="ui top attached active tab no-padding" data-tab="plan-1">
        <h2 class="ui large header"> Alternate Plan 1
            <div class="sub header">Please provide feedback by filling the form below</div>
        </h2>
        <div class="ui raised segment form-box">
            <div class="ui stackable two column grid">
                <div class="sixteen wide column">
                    <h4>How much of challenge could the following factors be in the implementation of Alternative
                        Plan 1?</h4>
                    <div class="ui form">
                        <div class="field">
                            <label for="fav-fruit">1. Infrastructure investments or costs</label>
                            <div class="inline fields">
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="fav-fruit" tabindex="0" class="hidden">
                                        <label>Not at All</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="fav-fruit" tabindex="0" class="hidden">
                                        <label>Little</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="fav-fruit" tabindex="0" class="hidden">
                                        <label>Neutral</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="fav-fruit" tabindex="0" class="hidden">
                                        <label>Neutral</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="fav-fruit" tabindex="0" class="hidden">
                                        <label>Very much</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label for="fruit">2. Permits or other regulatory processes</label>
                            <div class="inline fields">
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="fruit" tabindex="0" class="hidden">
                                        <label>Not at all</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="fruit" tabindex="0" class="hidden">
                                        <label>Little</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="fruit" tabindex="0" class="hidden">
                                        <label>Neutral</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="fruit" tabindex="0" class="hidden">
                                        <label>Neutral</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="fruit" tabindex="0" class="hidden">
                                        <label>Very much</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grouped fields">
                            <label for="">Rate this plan</label>
                            <div class="field">
                                <div class="ui star rating" data-rating="3"></div>
                            </div>
                        </div>
                        <div class="grouped fields">
                            <div class="field ten wide">
                                <label>Short Text</label>
                                <textarea rows="7"></textarea>
                            </div>
                        </div>
                        <div class="ui large orange button" tabindex="0">Submit</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui top attached tab no-padding" data-tab="plan-2">
        <h2 class="ui large header"> Alternate Plan 2
            <div class="sub header">Please provide feedback by filling the form below</div>
        </h2>
        <div class="ui raised segment form-box">
            <div class="ui stackable two column grid">
                <div class="sixteen wide column">
                    <h4>How much of challenge could the following factors be in the implementation of Alternative
                        Plan 2?</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="ui top attached tab no-padding" data-tab="plan-3">
        <h2 class="ui large header"> Alternate Plan 3
            <div class="sub header">Please provide feedback by filling the form below</div>
        </h2>
        <div class="ui raised segment form-box">
            <div class="ui stackable two column grid">
                <div class="sixteen wide column">
                    <h4>How much of challenge could the following factors be in the implementation of Alternative
                        Plan 3?</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="ui top attached tab no-padding" data-tab="plan-4">
        <h2 class="ui large header"> Alternate Plan 4
            <div class="sub header">Please provide feedback by filling the form below</div>
        </h2>
        <div class="ui raised segment form-box">
            <div class="ui stackable two column grid">
                <div class="sixteen wide column">
                    <h4>How much of challenge could the following factors be in the implementation of Alternative
                        Plan 4?</h4>
                </div>
            </div>
        </div>
    </div>
</div>