<!--Steps menu - more info popup-->
<div class="ui flowing step1-menu-content popup transition hidden" data-variation="basic" data-variation="inverted">
    <div class="ui grid">
        <div class="column">
            <p>what goals do you expect the adaptation plan to accomplish?</p>
        </div>
    </div>
</div>
<div class="ui flowing step2-menu-content popup transition hidden" data-variation="basic" data-variation="inverted">
    <div class="ui grid">
        <div class="column">
            <p>what goals do you expect the adaptation plan to accomplish?</p>
        </div>
    </div>
</div>
<div class="ui flowing step3-menu-content popup transition hidden" data-variation="basic" data-variation="inverted">
    <div class="ui grid">
        <div class="column">
            <p>Choose actions that you would like to explore for the actors you chose in the previous step. These actions will be included as decisions in the candidate adaptation plans.</p>
        </div>
    </div>
</div>
<div class="ui flowing step4-menu-content popup transition hidden" data-variation="basic" data-variation="inverted">
    <div class="ui grid">
        <div class="column">
            <p> Adaptation plans contain actions adopted over time by multiple actors associated with the community</p>
        </div>
    </div>
</div>
<div class="ui flowing step5-menu-content popup transition hidden" data-variation="basic" data-variation="inverted">
    <div class="ui grid">
        <div class="column">
            <p>visualize goals</p>
        </div>
    </div>
</div>
<div class="ui flowing step6-menu-content popup transition hidden" data-variation="basic" data-variation="inverted">
    <div class="ui grid">
        <div class="column">
            <p>Evaluate plans</p>
        </div>
    </div>
</div>