.interactwel-grey-bg{
   background-color: #3f5059;
}

.interactwel-teal-bg{
    background-color: #0b8e8d;
}

.interactwel-green-bg{
    background-color: #72af6d;
}

.interactwel-yellow-bg{
    background-color: #edd659;
}

.interactwel-orange-bg{
    background-color: #fead09;
}