html,body,#wrapper {
	width: 80%;
	height: 100%;
	margin: 2rem;
}

.layout{
	background-color: #33b5e5;
	width:900px;
	height: 400px;
}

.chart {
	background-color: #efefef;
	padding:1rem;
	font-family: Arial, sans-serif;
	font-size: 12px;
	margin-bottom:100px;
}

.axis path,.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.bar {
	fill: #33b5e5;
	height: 2px;
	border-radius: 0;
}

.bar-failed {
	fill: #CC0000;
	height: 2px;
	border-radius: 0;
}

.bar-running {
	fill: #669900;
	height: 2px;
	border-radius: 0;
}

.bar-succeeded {
	fill: #33b5e5;
	height: 2px;
	border-radius: 0;
}

.bar-killed {
	fill: #ffbb33;
	height: 2px;
	border-radius: 0;
}

.actor-1 {
	fill: #4d45b0;
	height: 2px;
	border-radius: 0;
}

.actor-2 {
	fill: #ff8c1c;
	height: 2px;
	border-radius: 0;
}

.actor-3 {
	fill: #b019ae;
	height: 2px;
	border-radius: 0;
}

#forkme_banner {
	display: block;
	position: absolute;
	top: 0;
	right: 10px;
	z-index: 10;
	padding: 10px 50px 10px 10px;
	color: #fff;
	background:
		url('http://dk8996.github.io/Gantt-Chart/images/blacktocat.png')
		#0090ff no-repeat 95% 50%;
	font-weight: 700;
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	text-decoration: none;
}

#twittme_banner {
	display: block;
	position: absolute;
	top: 0;
	right: 180px;
	z-index: 10;
	padding: 10px 50px 10px 10px;
	color: #fff;
	background:
		url('http://dk8996.github.io/Gantt-Chart/images/twitter.png')
		#0090ff no-repeat 95% 50%;
	font-weight: 700;
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	text-decoration: none;
}
