<div id="evaluate" class="ui very padded grid feedback-forum">
    <div class="row">
        <div class="sixteen wide column">
            <div class="ui header">POPSWAT 0</div>
            <div class="ui form">
                <div class="grouped fields">
                    <label>Does this plan meet the management goals you identified in Step 1?</label>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="example2" checked="checked">
                            <label>Not at All</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="example2">
                            <label>Little</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="example2">
                            <label>Neutral</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="example2">
                            <label>Neutral</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="example2">
                            <label>Very much</label>
                        </div>
                    </div>
                </div>
                <div class="grouped fields">
                    <label> Do you think the projected impacts resulting from this plan are accurate?</label>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="example2" checked="checked">
                            <label>Not at All</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="example2">
                            <label>Little</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="example2">
                            <label>Neutral</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="example2">
                            <label>Neutral</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="example2">
                            <label>Very much</label>
                        </div>
                    </div>
                </div>
                <div class="grouped fields">
                    <label>Are you willing to work with other stakeholder groups to implement this plan?</label>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="example2" checked="checked">
                            <label>Not at All</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="example2">
                            <label>Little</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="example2">
                            <label>Neutral</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="example2">
                            <label>Neutral</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="example2">
                            <label>Very much</label>
                        </div>
                    </div>
                </div>
                <div class="grouped fields">
                    <label>What factors could slow your progress in completing the actions list for your stakeholder
                        group(check all that apply)</label>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" name="example2">
                            <label>Limited staff time, staff expertise, or financial resources</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" name="example2">
                            <label>Infrastructure costs</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" name="example2">
                            <label>Permits or other regulatory approval processes
                                and cost</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" name="example2">
                            <label>Reliance on other stakeholders to take action</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" name="example2">
                            <label>Long time period before seeing positive results</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" name="example2">
                            <label>Public disapproval of the actions listed in the plan
                            </label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" name="example2">
                            <label>Reliance on other stakeholders to take action</label>
                        </div>
                    </div>
                </div>
                <div class="grouped fields">
                    <label>How likely are you to implement this plan?</label>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="example2" checked="checked">
                            <label>Not at All</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="example2">
                            <label>Little</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="example2">
                            <label>Neutral</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="example2">
                            <label>Neutral</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="example2">
                            <label>Very much</label>
                        </div>
                    </div>
                </div>
                <div class="grouped fields">
                    <label for="">Rate this plan</label>
                    <div class="field">
                        <div class="ui star rating" data-rating="3"></div>
                    </div>
                </div>
                <div class="grouped fields">
                    <div class="field">
                        <label>Other Comments</label>
                        <textarea rows="7"></textarea>
                    </div>
                </div>

                <button type="reset" class="ui small button" tabindex="0">Clear</button>
                <button class="ui small green button" tabindex="0">Submit</button>
            </div>
        </div>
    </div>
</div>