<!--Step 1 - Choose Goals-->
<div class="content">
    <div class="header">
        <a class="ui circular label">1</a> Choose Goals
    </div>
</div>
<div class="content">
    <div class="ui small feed">
        <div class="event">
            <div class="content">
                <div class="summary">
                    Choose the adaptation goals that are important to you
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="ui checkbox">
        <input type="checkbox" name="example">
        <label>Improve surface water quality</label>
    </div>
    <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
    <div class="ui small feed checkbox-info">
        <div class="event">
            <div class="content">
                <div class="meta">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                    lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                    mattis eu.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="ui checkbox">
        <input type="checkbox" name="example">
        <label>Increase ground water supply</label>
    </div>
    <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
    <div class="ui small feed checkbox-info">
        <div class="event">
            <div class="content">
                <div class="meta">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                    lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                    mattis eu.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="ui checkbox">
        <input type="checkbox" name="example">
        <label>Minimize land use change</label>
    </div>
    <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
    <div class="ui small feed checkbox-info">
        <div class="event">
            <div class="content">
                <div class="meta">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                    lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                    mattis eu.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="ui checkbox">
        <input type="checkbox" name="example">
        <label>Improve economy</label>
    </div>
    <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
    <div class="ui small feed checkbox-info">
        <div class="event">
            <div class="content">
                <div class="meta">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                    lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                    mattis eu.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="ui checkbox">
        <input type="checkbox" name="example">
        <label>Increase energy production</label>
    </div>
    <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
    <div class="ui small feed checkbox-info">
        <div class="event">
            <div class="content">
                <div class="meta">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                    lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                    mattis eu.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="ui checkbox">
        <input type="checkbox" name="example">
        <label>Improve ecological habitat</label>
    </div>
    <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
    <div class="ui small feed checkbox-info">
        <div class="event">
            <div class="content">
                <div class="meta">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                    lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                    mattis eu.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="ui checkbox">
        <input type="checkbox" name="example">
        <label>Others…</label>
    </div>
    <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
    <div class="ui small feed checkbox-info">
        <div class="event">
            <div class="content">
                <div class="meta">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                    lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                    mattis eu.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui bottom fixed stackable inverted large uncover menu">
    <div class="right menu">
        <div id="step1-submit" class="item">
            <button class="ui small green button">Next<i class="right arrow icon"></i> </button>
        </div>
    </div>
</div>