<!--Step 3 - Choose Actions-->
<div class="content header-content">
    <div class="header">
        Choose Actions
    </div>
</div>
<div class="content">
    <div class="ui small feed">
        <div class="event">
            <div class="content">
                <div class="summary">
                    Choose actions (for each actor) that you want to visualize in the adaptation plans
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content action-bar">
    <div class="ui small feed">
        <div class="event">
            <div class="content">
                <div class="ui checkbox">
                    <input id="step3-select-all-checkbox" type="checkbox" name="">
                    <label id="step3-select-all-checkbox-label">Select All</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="ui top attached stackable tabular mini menu">
        <div class="active item" data-tab="actor-1">Farmer</div>
        <div class="item" data-tab="actor-2">Energy Provider</div>
        <div class="item" data-tab="actor-3">Food Processor</div>
        <div class="item" data-tab="actor-4">Data Center</div>
    </div>
    <div class="ui bottom attached active tab segment no-padding" data-tab="actor-1">
        <div class="ui card fluid">
            <div class="content">
                <div class="ui checkbox">
                    <input class="step3-checkbox" type="checkbox" name="example">
                    <label>Let the algorithm choose</label>
                </div>
                <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
                <div class="ui small feed checkbox-info">
                    <div class="event">
                        <div class="content">
                            <div class="meta">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                                lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                                mattis eu.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="ui checkbox">
                    <input class="step3-checkbox" type="checkbox" name="example">
                    <label>Change Ground water amount</label>
                </div>
                <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
                <div class="ui small feed checkbox-info">
                    <div class="event">
                        <div class="content">
                            <div class="meta">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                                lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                                mattis eu.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="ui checkbox">
                    <input class="step3-checkbox" type="checkbox" name="example">
                    <label>Change waste water amount Change crops</label>
                </div>
                <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
                <div class="ui small feed checkbox-info">
                    <div class="event">
                        <div class="content">
                            <div class="meta">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                                lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                                mattis eu.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="ui checkbox">
                    <input class="step3-checkbox" type="checkbox" name="example">
                    <label>Replace GW With SW</label>
                </div>
                <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
                <div class="ui small feed checkbox-info">
                    <div class="event">
                        <div class="content">
                            <div class="meta">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                                lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                                mattis eu.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="ui checkbox">
                    <input class="step3-checkbox" type="checkbox" name="example">
                    <label>Change Surface Water amount</label>
                </div>
                <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
                <div class="ui small feed checkbox-info">
                    <div class="event">
                        <div class="content">
                            <div class="meta">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                                lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                                mattis eu.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="ui checkbox">
                    <input class="step3-checkbox" type="checkbox" name="example">
                    <label>Improve ecological habitat</label>
                </div>
                <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
                <div class="ui small feed checkbox-info">
                    <div class="event">
                        <div class="content">
                            <div class="meta">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                                lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                                mattis eu.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="ui checkbox">
                    <input class="step3-checkbox" type="checkbox" name="example">
                    <label>Increase Surface Storage</label>
                </div>
                <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
                <div class="ui small feed checkbox-info">
                    <div class="event">
                        <div class="content">
                            <div class="meta">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                                lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                                mattis eu.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui bottom attached tab segment no-padding" data-tab="actor-2">
        <div class="ui card fluid">
            <div class="content">
                <div class="ui checkbox">
                    <input class="step3-checkbox" type="checkbox" name="example">
                    <label>Let the algorithm choose</label>
                </div>
                <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
                <div class="ui small feed checkbox-info">
                    <div class="event">
                        <div class="content">
                            <div class="meta">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                                lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                                mattis eu.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="ui checkbox">
                    <input class="step3-checkbox" type="checkbox" name="example">
                    <label>Change Ground water amount</label>
                </div>
                <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
                <div class="ui small feed checkbox-info">
                    <div class="event">
                        <div class="content">
                            <div class="meta">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                                lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                                mattis eu.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="ui checkbox">
                    <input class="step3-checkbox" type="checkbox" name="example">
                    <label>Change waste water amount Change crops</label>
                </div>
                <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
                <div class="ui small feed checkbox-info">
                    <div class="event">
                        <div class="content">
                            <div class="meta">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                                lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                                mattis eu.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="ui checkbox">
                    <input class="step3-checkbox" type="checkbox" name="example">
                    <label>Replace GW With SW</label>
                </div>
                <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
                <div class="ui small feed checkbox-info">
                    <div class="event">
                        <div class="content">
                            <div class="meta">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                                lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                                mattis eu.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="ui checkbox">
                    <input class="step3-checkbox" type="checkbox" name="example">
                    <label>Change Surface Water amount</label>
                </div>
                <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
                <div class="ui small feed checkbox-info">
                    <div class="event">
                        <div class="content">
                            <div class="meta">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                                lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                                mattis eu.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="ui checkbox">
                    <input class="step3-checkbox" type="checkbox" name="example">
                    <label>Improve ecological habitat</label>
                </div>
                <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
                <div class="ui small feed checkbox-info">
                    <div class="event">
                        <div class="content">
                            <div class="meta">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                                lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                                mattis eu.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="ui checkbox">
                    <input class="step3-checkbox" type="checkbox" name="example">
                    <label>Increase Surface Storage</label>
                </div>
                <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
                <div class="ui small feed checkbox-info">
                    <div class="event">
                        <div class="content">
                            <div class="meta">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                                lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                                mattis eu.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui bottom attached tab segment no-padding" data-tab="actor-3">
        <div class="ui card fluid">
            <div class="content">
                <div class="ui checkbox">
                    <input class="step3-checkbox" type="checkbox" name="example">
                    <label>Let the algorithm choose</label>
                </div>
                <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
                <div class="ui small feed checkbox-info">
                    <div class="event">
                        <div class="content">
                            <div class="meta">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                                lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                                mattis eu.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="ui checkbox">
                    <input class="step3-checkbox" type="checkbox" name="example">
                    <label>Change Ground water amount</label>
                </div>
                <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
                <div class="ui small feed checkbox-info">
                    <div class="event">
                        <div class="content">
                            <div class="meta">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                                lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                                mattis eu.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="ui checkbox">
                    <input class="step3-checkbox" type="checkbox" name="example">
                    <label>Change waste water amount Change crops</label>
                </div>
                <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
                <div class="ui small feed checkbox-info">
                    <div class="event">
                        <div class="content">
                            <div class="meta">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                                lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                                mattis eu.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="ui checkbox">
                    <input class="step3-checkbox" type="checkbox" name="example">
                    <label>Replace GW With SW</label>
                </div>
                <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
                <div class="ui small feed checkbox-info">
                    <div class="event">
                        <div class="content">
                            <div class="meta">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                                lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                                mattis eu.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="ui checkbox">
                    <input class="step3-checkbox" type="checkbox" name="example">
                    <label>Change Surface Water amount</label>
                </div>
                <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
                <div class="ui small feed checkbox-info">
                    <div class="event">
                        <div class="content">
                            <div class="meta">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                                lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                                mattis eu.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="ui checkbox">
                    <input class="step3-checkbox" type="checkbox" name="example">
                    <label>Improve ecological habitat</label>
                </div>
                <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
                <div class="ui small feed checkbox-info">
                    <div class="event">
                        <div class="content">
                            <div class="meta">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                                lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                                mattis eu.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="ui checkbox">
                    <input class="step3-checkbox" type="checkbox" name="example">
                    <label>Increase Surface Storage</label>
                </div>
                <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
                <div class="ui small feed checkbox-info">
                    <div class="event">
                        <div class="content">
                            <div class="meta">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                                lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                                mattis eu.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui bottom attached tab segment no-padding" data-tab="actor-4">
        <div class="ui card fluid">
            <div class="content">
                <div class="ui checkbox">
                    <input class="step3-checkbox" type="checkbox" name="example">
                    <label>Let the algorithm choose</label>
                </div>
                <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
                <div class="ui small feed checkbox-info">
                    <div class="event">
                        <div class="content">
                            <div class="meta">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                                lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                                mattis eu.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="ui checkbox">
                    <input class="step3-checkbox" type="checkbox" name="example">
                    <label>Change Ground water amount</label>
                </div>
                <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
                <div class="ui small feed checkbox-info">
                    <div class="event">
                        <div class="content">
                            <div class="meta">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                                lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                                mattis eu.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="ui checkbox">
                    <input class="step3-checkbox" type="checkbox" name="example">
                    <label>Change waste water amount Change crops</label>
                </div>
                <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
                <div class="ui small feed checkbox-info">
                    <div class="event">
                        <div class="content">
                            <div class="meta">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                                lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                                mattis eu.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="ui checkbox">
                    <input class="step3-checkbox" type="checkbox" name="example">
                    <label>Replace GW With SW</label>
                </div>
                <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
                <div class="ui small feed checkbox-info">
                    <div class="event">
                        <div class="content">
                            <div class="meta">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                                lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                                mattis eu.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="ui checkbox">
                    <input class="step3-checkbox" type="checkbox" name="example">
                    <label>Change Surface Water amount</label>
                </div>
                <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
                <div class="ui small feed checkbox-info">
                    <div class="event">
                        <div class="content">
                            <div class="meta">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                                lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                                mattis eu.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="ui checkbox">
                    <input class="step3-checkbox" type="checkbox" name="example">
                    <label>Improve ecological habitat</label>
                </div>
                <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
                <div class="ui small feed checkbox-info">
                    <div class="event">
                        <div class="content">
                            <div class="meta">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                                lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                                mattis eu.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="ui checkbox">
                    <input class="step3-checkbox" type="checkbox" name="example">
                    <label>Increase Surface Storage</label>
                </div>
                <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
                <div class="ui small feed checkbox-info">
                    <div class="event">
                        <div class="content">
                            <div class="meta">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                                lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                                mattis eu.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content footer-content">
    <button id="step3-back" class="ui small button left floated"><i class="left arrow icon"></i> Back</button>
    <button id="step3-submit" class="ui small green button right floated">Save<i class="right arrow icon"></i> </button>
    <button type="reset" class="ui small green basic invereted button right floated">Clear</button>
</div>