<!--Step 1 - Choose Goals-->
<div class="content header-content">
    <div class="header">
        Choose Goals
    </div>
</div>
<div class="content">
    <div class="ui small feed">
        <div class="event">
            <div class="content">
                <div class="summary">
                    Choose the adaptation goals that are important to you
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content action-bar">
    <div class="ui small feed">
        <div class="event">
            <div class="content">
                <div class="ui checkbox">
                    <input id="step1-select-all-checkbox" type="checkbox" name="">
                    <label id="step1-select-all-checkbox-label">Select All</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="ui checkbox">
        <input class="step1-checkbox" type="checkbox" name="step1-0" id="step1-1">
        <label>Improve surface water quality</label>
    </div>
    <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
    <div class="ui small feed checkbox-info">
        <div class="event">
            <div class="content">
                <div class="meta">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                    lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                    mattis eu.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="ui checkbox">
        <input class="step1-checkbox" type="checkbox" id="step1-2">
        <label>Increase ground water supply</label>
    </div>
    <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
    <div class="ui small feed checkbox-info">
        <div class="event">
            <div class="content">
                <div class="meta">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                    lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                    mattis eu.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="ui checkbox">
        <input class="step1-checkbox" type="checkbox" id="step1-3">
        <label>Minimize land use change</label>
    </div>
    <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
    <div class="ui small feed checkbox-info">
        <div class="event">
            <div class="content">
                <div class="meta">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                    lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                    mattis eu.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="ui checkbox">
        <input class="step1-checkbox" type="checkbox" id="step1-4">
        <label>Improve economy</label>
    </div>
    <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
    <div class="ui small feed checkbox-info">
        <div class="event">
            <div class="content">
                <div class="meta">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                    lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                    mattis eu.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="ui checkbox">
        <input class="step1-checkbox" type="checkbox" id="step1-5">
        <label>Increase energy production</label>
    </div>
    <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
    <div class="ui small feed checkbox-info">
        <div class="event">
            <div class="content">
                <div class="meta">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                    lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                    mattis eu.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="ui checkbox">
        <input class="step1-checkbox" type="checkbox" id="step1-6">
        <label>Improve ecological habitat</label>
    </div>
    <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
    <div class="ui small feed checkbox-info">
        <div class="event">
            <div class="content">
                <div class="meta">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                    lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                    mattis eu.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="ui checkbox">
        <input class="step1-checkbox" type="checkbox" id="step1-7">
        <label>Others…</label>
    </div>
    <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
    <div class="ui small feed checkbox-info">
        <div class="event">
            <div class="content">
                <div class="meta">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                    lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                    mattis eu.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content footer-content">
    <button id="step1-submit" class="ui small green button right floated" type="button">Save<i class="right arrow icon"></i> </button>
    <button type="reset" class="ui small green basic inverted button right floated">Clear</button>
</div>