<!--Step 2 - Choose Actors-->
<div class="content">
    <div class="header">
        <a class="ui circular label">2</a> Choose Actors
    </div>
</div>
<div class="content">
    <div class="ui small feed">
        <div class="event">
            <div class="content">
                <div class="summary">
                    Choose the actors whose adaptation actions you want to visualize
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="ui checkbox">
        <input id="farmer-w-swgw" type="checkbox" name="example">
        <label>Farmer with surface water and ground water right
        </label>
    </div>
    <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
    <div class="ui small feed checkbox-info">
        <div class="event">
            <div class="content">
                <div class="meta">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                    lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                    mattis eu.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="ui checkbox">
        <input id="farmer-w-sw" type="checkbox" name="example">
        <label>Farmer with surface water right
        </label>
    </div>
    <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
    <div class="ui small feed checkbox-info">
        <div class="event">
            <div class="content">
                <div class="meta">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                    lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                    mattis eu.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="ui checkbox">
        <input id="farmer-w-gw" type="checkbox" name="example">
        <label>Farmer with ground water right
        </label>
    </div>
    <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
    <div class="ui small feed checkbox-info">
        <div class="event">
            <div class="content">
                <div class="meta">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                    lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                    mattis eu.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="ui checkbox">
        <input id="energy-provider" type="checkbox" name="example">
        <label>Energy provider (EP)
        </label>
    </div>
    <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
    <div class="ui small feed checkbox-info">
        <div class="event">
            <div class="content">
                <div class="meta">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                    lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                    mattis eu.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="ui checkbox">
        <input id="data-center" type="checkbox" name="example">
        <label> Data center (DC)
        </label>
    </div>
    <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
    <div class="ui small feed checkbox-info">
        <div class="event">
            <div class="content">
                <div class="meta">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                    lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                    mattis eu.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="ui checkbox">
        <input id="food-processor" type="checkbox" name="example">
        <label>Food processor(FP)
        </label>
    </div>
    <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
    <div class="ui small feed checkbox-info">
        <div class="event">
            <div class="content">
                <div class="meta">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                    lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                    mattis eu.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="ui checkbox">
        <input id="tribe" type="checkbox" name="example">
        <label>Tribe</label>
    </div>
    <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
    <div class="ui small feed checkbox-info">
        <div class="event">
            <div class="content">
                <div class="meta">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                    lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                    mattis eu.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="ui checkbox">
        <input id="municipality" type="checkbox" name="example">
        <label>Municipality</label>
    </div>
    <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
    <div class="ui small feed checkbox-info">
        <div class="event">
            <div class="content">
                <div class="meta">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                    lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                    mattis eu.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="ui checkbox">
        <input type="checkbox" name="example">
        <label>Other</label>
    </div>
    <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
    <div class="ui small feed checkbox-info">
        <div class="event">
            <div class="content">
                <div class="meta">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                    lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                    mattis eu.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui bottom fixed stackable inverted large uncover menu">
    <div class="right menu">
        <div id="step2-submit" class="item">
            <button class="ui small green button">Next<i class="right arrow icon"></i> </button>
        </div>
    </div>
</div>