<!--Step 2 - Choose Actors-->
<div class="content header-content">
    <div class="header">
        Choose Actors
    </div>
</div>
<div class="content">
    <div class="ui small feed">
        <div class="event">
            <div class="content">
                <div class="summary">
                    Choose the actors whose adaptation actions you want to visualize
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content action-bar">
    <div class="ui small feed">
        <div class="event">
            <div class="content">
                <div class="ui checkbox">
                    <input id="step2-select-all-checkbox" type="checkbox" name="">
                    <label id="step2-select-all-checkbox-label">Select All</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="ui checkbox">
        <input class="step2-checkbox" id="farmer-w-swgw" type="checkbox">
        <label>Farmer with surface water and ground water right
        </label>
    </div>
    <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
    <div class="ui small feed checkbox-info">
        <div class="event">
            <div class="content">
                <div class="meta">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                    lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                    mattis eu.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="ui checkbox">
        <input class="step2-checkbox" id="farmer-w-sw" type="checkbox">
        <label>Farmer with surface water right
        </label>
    </div>
    <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
    <div class="ui small feed checkbox-info">
        <div class="event">
            <div class="content">
                <div class="meta">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                    lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                    mattis eu.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="ui checkbox">
        <input class="step2-checkbox" id="farmer-w-gw" type="checkbox">
        <label>Farmer with ground water right
        </label>
    </div>
    <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
    <div class="ui small feed checkbox-info">
        <div class="event">
            <div class="content">
                <div class="meta">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                    lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                    mattis eu.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="ui checkbox">
        <input class="step2-checkbox" id="energy-provider" type="checkbox">
        <label>Energy provider (EP)
        </label>
    </div>
    <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
    <div class="ui small feed checkbox-info">
        <div class="event">
            <div class="content">
                <div class="meta">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                    lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                    mattis eu.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="ui checkbox">
        <input class="step2-checkbox" id="data-center" type="checkbox">
        <label> Data center (DC)
        </label>
    </div>
    <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
    <div class="ui small feed checkbox-info">
        <div class="event">
            <div class="content">
                <div class="meta">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                    lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                    mattis eu.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="ui checkbox">
        <input class="step2-checkbox" id="food-processor" type="checkbox">
        <label>Food processor(FP)
        </label>
    </div>
    <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
    <div class="ui small feed checkbox-info">
        <div class="event">
            <div class="content">
                <div class="meta">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                    lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                    mattis eu.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="ui checkbox">
        <input class="step2-checkbox" id="tribe" type="checkbox">
        <label>Tribe</label>
    </div>
    <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
    <div class="ui small feed checkbox-info">
        <div class="event">
            <div class="content">
                <div class="meta">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                    lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                    mattis eu.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="ui checkbox">
        <input class="step2-checkbox" id="municipality" type="checkbox">
        <label>Municipality</label>
    </div>
    <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
    <div class="ui small feed checkbox-info">
        <div class="event">
            <div class="content">
                <div class="meta">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                    lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                    mattis eu.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="ui checkbox">
        <input class="step2-checkbox" type="checkbox" name="example">
        <label>Other</label>
    </div>
    <span class="right floated checkbox-info-button">
                  <i class="info circle icon"></i>
                        </span>
    <div class="ui small feed checkbox-info">
        <div class="event">
            <div class="content">
                <div class="meta">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non faucibus
                    lorem, vel varius justo. Quisque tincidunt felis libero, nec tincidunt lectus
                    mattis eu.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content footer-content">
    <button id="step2-back" class="ui small button left floated"><i class="left arrow icon"></i> Back</button>
    <button id="step2-submit" class="ui small green button right floated">Save<i class="right arrow icon"></i> </button>
    <button type="reset" class="ui small green basic invereted button right floated">Clear</button>
</div>