<!--Step 5 - Visualize Goals for each Adaptation Plan-->
<div class="ui top attached active tab no-padding" data-tab="goal-1">
    <div class="ui icon small header center aligned">
        Please click on actors on map to view goal visualization for that actor
    </div>
    <div class="ui card fluid">
        <div class="content">
            <img alt=""
                 src="{% static '/static/images/popswat0.png' %}"
                 class="ui image massive">
        </div>
    </div>
</div>
<div class="ui top attached tab no-padding" data-tab="goal-2">
    <div class="ui icon small header center aligned">
    Please click on actors on map to view goal visualization for that actor
    </div>
    <div class="ui card fluid">
        <div class="content">
            <img alt=""
                 src="{% static '/static/images/popswat1.png' %}"
                 class="ui image massive">
        </div>
    </div>
</div>
<div class="ui top attached tab no-padding" data-tab="goal-3">
    <div class="ui icon small header center aligned">
        Please click on actors on map to view goal visualization for that actor

    </div>
    <div class="ui card fluid">
        <div class="content">
            <img alt=""
                 src="{% static '/static/images/popswat2.png' %}"
                 class="ui image massive"></div>
    </div>
</div>
<div class="ui top attached tab no-padding" data-tab="goal-4">
    <div class="ui icon small header center aligned">
        Please click on actors on map to view goal visualization for that actor
    </div>
    <div class="ui card fluid">
        <div class="content">
            <img alt=""
                 src="{% static '/static/images/popswat3.png' %}"
                 class="ui image massive">
        </div>
    </div>
</div>
<div class="ui bottom attached stackable inverted four item fluid mini menu">
    <div class="active item green" data-tab="goal-1">Cost</div>
    <div class="item green" data-tab="goal-2">Water quality</div>
    <div class="item green" data-tab="goal-3">Water Storage</div>
    <div class="item green" data-tab="goal-4">Environment</div>
</div>