/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Override semantic styles */
.ui.card > .content > .header, .ui.cards > .card > .content > .header {
    color: rgb(50, 71, 92);
}

.ui.ordered.steps .step.completed:before, .ui.steps .step.completed > .icon:before {
    color: #4CAF50;
}

.hi .header {
    color: #32475c;
}

ui.checkbox label, .ui.checkbox + label {
    color: #516f90 !important;
}

.ui .popup .column {
    width: 220px !important;
}

.ui.inverted.menu {
    background: #2d3f51 !important;
}

.ui.button, .ui.buttons .button, .ui.buttons {
    border-radius: 20px !important;
}

.ui.steps .step, .ui.steps .step::after {
    background: #f5f8fa;
}

.ui.steps .step.active, .ui.steps .step.active:after {
    background: #DCEDC8;
}

.ui.steps .step.active .title {
    color: #4caf50 !important;
}

.ui.ordered.steps .step.active::before, .ui.steps .active.step .icon {
    color: rgb(45, 63, 81);
}

.ui .button {
    font-weight: 400;
}

/* Navigation */
.logo {
    width: 25px !important;
}

.wrapper {
    margin-top: 70px;
}

.map-container {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    position: relative;
    z-index: 100;
    min-width: 0px;
    height: 100vh;
}

#map {
    height: calc(100% - 5em);
    position: relative;
    /*z-index: -1;*/
}

/* General */

.no-horizontal-padding {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

#steps-menu {
    border: none !important;
}

.step-container .step-inner {
    width: 480px;
    position: absolute !important;
    top: 6rem !important;
    left: 4rem !important;
    overflow: auto;
}

.step-container .step4 {
    width: 700px;
    position: absolute !important;
    bottom: 6rem !important;
    left: 5rem !important;
    overflow: auto;
}

.step-container .ui.card.step4 {
    background-color: transparent !important;
    box-shadow: none !important;
}

.feedback-wrapper {
    padding-top: 4rem;
    padding-bottom: 6rem;
}

#feedback {
    background-color: #f6fbfd;
}

.form-box {
    background-color: #fff;
    box-shadow: rgba(114, 182, 234, 0.2) 1px 0 30px !important;
    border-radius: 8px !important;
    padding: 2em 1.5em !important;
    border: none !important;
}

.bottom-fixed-nav {
    /*border-bottom: 3px solid #7CB342 !important;*/
    height: 60px;
}

.top-fixed-nav {
    border-top: 4px solid #ff7853 !important;
    width: 100vw;
}

.header-content {
    background-color: #f5f8fa !important;
}

.footer-content {
    background-color: #2d3f51 !important;
}

.checkbox-info-button i:hover {
    color: #7cb342;
    cursor: pointer;
}

.nav-sub-header {
    font-size: .85714286em;
    font-weight: 700;
    color: #FFF;
}

.nav-header {
    font-size: 1.1em;
    font-weight: 200;
    letter-spacing: 0.02em;
}








